rader/jaxfamlaw/last_err_data.json
[{"version":1,"startData":"1","resultData":"2","executionData":"3"},{},{"error":"4","runData":"5","lastNodeExecuted":"6"},{"contextData":"7","nodeExecutionStack":"8","metadata":"9","waitingExecution":"10","waitingExecutionSource":"11","runtimeData":"12"},{"level":"13","tags":"14","description":"15","timestamp":1767706573006,"context":"16","functionality":"17","name":"18","node":"19","messages":"20","httpCode":"21","message":"22","stack":"23"},{"Webhook":"24","GitHub":"25"},"GitHub",{},["26"],{},{},{},{"version":1,"establishedAt":1767706570601,"source":"27","triggerNode":"28"},"warning",{},"Invalid request.\n\n\"sha\" wasn't supplied.",{},"regular","NodeApiError",{"parameters":"29","name":"6","type":"30","typeVersion":1,"position":"31","id":"32","webhookId":"33","credentials":"34"},["35"],"422","Your request is invalid or could not be processed by the service","NodeApiError: Your request is invalid or could not be processed by the service\n    at ExecuteContext.requestWithAuthentication (C:\\Users\\bai\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-core\\src\\execution-engine\\node-execution-context\\utils\\request-helper-functions.ts:1513:10)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.requestWithAuthentication (C:\\Users\\bai\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-core\\src\\execution-engine\\node-execution-context\\utils\\request-helper-functions.ts:1813:11)\n    at ExecuteContext.githubApiRequest (C:\\Users\\bai\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-nodes-base\\nodes\\Github\\GenericFunctions.ts:61:10)\n    at ExecuteContext.execute (C:\\Users\\bai\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-nodes-base\\nodes\\Github\\Github.node.ts:2930:21)\n    at WorkflowExecute.executeNode (C:\\Users\\bai\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (C:\\Users\\bai\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1226:11)\n    at C:\\Users\\bai\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1662:27\n    at C:\\Users\\bai\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:2297:11",["36"],["37"],{"node":"38","data":"39","source":"40"},"webhook",{"name":"41","type":"42"},{"authentication":"43","resource":"44","operation":"45","owner":"46","repository":"47","filePath":"48","binaryData":false,"fileContent":"49","commitMessage":"50","additionalParameters":"51"},"n8n-nodes-base.github",[320,288],"d569e958-4375-461b-9b60-df758064f352","80ec78ed-7b1e-4828-8268-0f56dbac5cc1",{"githubApi":"52"},"422 - {\"message\":\"Invalid request.\\n\\n\\\"sha\\\" wasn't supplied.\",\"documentation_url\":\"https://docs.github.com/rest/repos/contents#create-or-update-file-contents\",\"status\":\"422\"}",{"startTime":1767706570605,"executionIndex":0,"source":"53","hints":"54","executionTime":1,"executionStatus":"55","data":"56"},{"startTime":1767706570607,"executionIndex":1,"source":"57","hints":"58","executionTime":2401,"executionStatus":"59","error":"60"},{"parameters":"61","name":"6","type":"30","typeVersion":1,"position":"62","id":"32","webhookId":"33","credentials":"63"},{"main":"64"},{"main":"57"},"Webhook","n8n-nodes-base.webhook","accessToken","file","create","={{$json.body.owner}}","={{$json.body.repo}}","={{ $json.body.path }}","={{ $json.body.content }}","={{ $json.body.message }}",{},{"id":"65","name":"66"},[],[],"success",{"main":"67"},["68"],[],"error",{"level":"13","tags":"14","description":"15","timestamp":1767706573006,"context":"16","functionality":"17","name":"18","node":"19","messages":"20","httpCode":"21","message":"22","stack":"23"},{"authentication":"43","resource":"44","operation":"45","owner":"46","repository":"47","filePath":"48","binaryData":false,"fileContent":"49","commitMessage":"50","additionalParameters":"69"},[320,288],{"githubApi":"70"},["71"],"7s9yn9S5CKwyoPWp","GitHub account",["72"],{"previousNode":"41"},{},{"id":"65","name":"66"},["73"],["74"],{"json":"75","pairedItem":"76"},{"json":"75","pairedItem":"77"},{"headers":"78","params":"79","query":"80","body":"81","webhookUrl":"82","executionMode":"83"},{"item":0},{"item":0},{"host":"84","user-agent":"85","content-length":"86","accept":"87","accept-encoding":"88","cdn-loop":"89","cf-connecting-ip":"90","cf-ipcountry":"91","cf-ray":"92","cf-visitor":"93","cf-warp-tag-id":"94","connection":"95","content-type":"96","x-forwarded-for":"90","x-forwarded-proto":"97"},{},{},{"owner":"98","repo":"99","path":"100","content":"101","message":"102"},"http://localhost:5678/webhook/gemini-update","production","n8n.jaxfamlaw.com","python-requests/2.31.0","204","*/*","gzip, br","cloudflare; loops=1","2600:1f14:38fd:b900:a2b9:c659:2e65:6e4e","US","9b9b9a4f1c8f1ef3-PDX","{\"scheme\":\"https\"}","9dbeb7c1-c89a-4137-9654-738126ea30bb","keep-alive","application/json","https","baifan7574","grich-cloud","SYSTEM_CHECK.md","Final Test: G-Drive Sync Verified by Executive at 2026-01-06 21:36:08.274534","G-Drive Sync Verification"]
