rader/jaxfamlaw/workflow_check.json
[{"updatedAt":"2026-01-06T09:57:43.916Z","createdAt":"2026-01-06T04:21:55.367Z","id":"ibUjlwa-bGp2JpYUATk4r","name":"Gemini GitHub Updater","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"gemini-update","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[96,288],"id":"fdd9cb57-99a4-4c27-8b95-a3652353b72c","webhookId":"2e9b7b38-62f8-403d-8d88-95089c479851"},{"parameters":{"resource":"file","owner":"={{$json.body.owner}}","repository":"={{$json.body.repo}}","filePath":"={{ $json.body.path }}","fileContent":"={{ $json.body.content }}","commitMessage":"={{ $json.body.message }}"},"name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[320,288],"id":"d569e958-4375-461b-9b60-df758064f352","webhookId":"80ec78ed-7b1e-4828-8268-0f56dbac5cc1","credentials":{"githubApi":{"id":"7s9yn9S5CKwyoPWp","name":"GitHub account"}}},{"parameters":{"command":"cmd /c \"\"C:\\Users\\bai\\AppData\\Local\\Programs\\Python\\Python311\\python.exe\" \"d:\\quicktoolshub\\雷达监控。\\GRICH\\append_to_gdrive.py\" \"{{$json.body.content}}\" >> \"d:\\quicktoolshub\\雷达监控。\\GRICH\\n8n_exec.log\" 2>&1\""},"name":"Write To G-Drive (Local)","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[320,480],"id":"gd-sync-node-id"}],"connections":{"Webhook":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"Write To G-Drive (Local)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"80d4eecb-b619-445d-aa0b-0ee60e8cc4a7","activeVersionId":"80d4eecb-b619-445d-aa0b-0ee60e8cc4a7","versionCounter":14,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-06T04:21:55.371Z","createdAt":"2026-01-06T04:21:55.371Z","role":"workflow:owner","workflowId":"ibUjlwa-bGp2JpYUATk4r","projectId":"cvsOQ5DajzjL3Tch","project":{"updatedAt":"2026-01-06T04:05:01.623Z","createdAt":"2026-01-06T03:51:16.663Z","id":"cvsOQ5DajzjL3Tch","name":"junqing bai <baifan7574@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6e3e41c1-9ad0-481b-87c1-9ce79ea4db41"}}]}]